openapi: 3.2.0
info:
  title: University of York Digital Collections IIIF IIIF…
  version: '3.0'
  summary: IIIF Image API 3.0 (level 2) and IIIF Presentation API 3.0 served by the University of York over its digitised collections.
  description: 'The University of York serves its digitised archive, library and cultural-heritage material through two IIIF specifications on its own registrable domain (york.ac.uk), keyless and CORS-open:


    * IIIF Image API 3.0, compliance level 2, at /iiif/3/{identifier} — the identifier is an

    ARK path under the University''s NAAN 36941.'
  contact:
    name: University of York Digital Collections
    url: https://discover.york.ac.uk/about/
  license:
    name: Not stated by the operator
servers:
- url: https://discover.york.ac.uk
  description: University of York Digital Collections (production)
security: []
tags:
- name: IIIF Presentation
  description: IIIF Presentation API 3.0 manifests and canvases.
paths:
  /ark:/{naan}/{objectId}/presentation/3/manifest:
    get:
      summary: IIIF Presentation API 3.0 Manifest
      description: Returns a IIIF Presentation 3.0 Manifest for one object. Confirmed live with naan=36941, objectId=9952973300001381 ("Little Red Riding Hood", 7 canvases) and objectId=796351.
      operationId: getManifest
      tags:
      - IIIF Presentation
      security: []
      parameters:
      - $ref: '#/components/parameters/Naan'
      - $ref: '#/components/parameters/ObjectId'
      responses:
        '200':
          description: IIIF Presentation API 3.0 Manifest.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Manifest'
        '302':
          description: Observed when the manifest path is requested under /iiif/3/. The Location header is a relative value that is not a resolvable URL; use the /ark:/ form above.
  /ark:/{naan}/{objectId}/presentation/3/canvas/{canvasId}:
    get:
      summary: IIIF Presentation API 3.0 Canvas
      description: Returns a single Canvas from an object's manifest. Confirmed live with objectId=796351, canvasId=802563.
      operationId: getCanvas
      tags:
      - IIIF Presentation
      security: []
      parameters:
      - $ref: '#/components/parameters/Naan'
      - $ref: '#/components/parameters/ObjectId'
      - name: canvasId
        in: path
        required: true
        schema:
          type: string
        example: '802563'
      responses:
        '200':
          description: IIIF Presentation API 3.0 Canvas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Canvas'
components:
  parameters:
    Naan:
      name: naan
      in: path
      required: true
      description: ARK Name Assigning Authority Number. The University of York's is 36941.
      schema:
        type: string
        default: '36941'
      example: '36941'
    ObjectId:
      name: objectId
      in: path
      required: true
      schema:
        type: string
      example: uoy-logo
  schemas:
    Canvas:
      type: object
      description: IIIF Presentation API 3.0 Canvas.
      properties:
        id:
          type: string
          format: uri
        type:
          type: string
          const: Canvas
        label:
          $ref: '#/components/schemas/LanguageMap'
        height:
          type: integer
        width:
          type: integer
        items:
          type: array
          items:
            type: object
    LanguageMap:
      type: object
      description: IIIF language map — BCP 47 language tag (or "none") to an array of strings.
      additionalProperties:
        type: array
        items:
          type: string
      example:
        en:
        - Little Red Riding Hood
    Manifest:
      type: object
      description: IIIF Presentation API 3.0 Manifest, with the properties observed on this deployment.
      required:
      - '@context'
      - id
      - type
      - label
      - items
      properties:
        '@context':
          type: string
          const: http://iiif.io/api/presentation/3/context.json
        id:
          type: string
          format: uri
        type:
          type: string
          const: Manifest
        label:
          $ref: '#/components/schemas/LanguageMap'
        summary:
          $ref: '#/components/schemas/LanguageMap'
        behavior:
          type: array
          items:
            type: string
        thumbnail:
          type: array
          items:
            type: object
        items:
          type: array
          description: Canvases.
          items:
            $ref: '#/components/schemas/Canvas'
x-operator: institution
x-provenance:
  method: probed
  generated: '2026-08-30'
  source:
  - https://discover.york.ac.uk/iiif/3/ark:/36941/common/objects/uoy-logo/info.json
  - https://discover.york.ac.uk/iiif/3/ark:/36941/13192/objects/13309/info.json
  - https://discover.york.ac.uk/iiif/3/ark:/36941/common/objects/uoy-logo/full/max/0/default.jpg
  - https://discover.york.ac.uk/ark:/36941/9952973300001381/presentation/3/manifest
  - https://discover.york.ac.uk/ark:/36941/796351/presentation/3/canvas/802563
