openapi: 3.2.0
info:
  title: University Of York Oai2 API
  version: '2.0'
  license:
    name: OAI-PMH 2.0
    url: http://www.openarchives.org/OAI/openarchivesprotocol.html
  description: 'Operations tagged Oai2 across 2 of this provider''s published API definitions: university-of-york-white-rose-etheses-oai.yaml, university-of-york-white-rose-research-oai.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://etheses.whiterose.ac.uk/cgi
  description: White Rose eTheses Online OAI-PMH base
- url: https://eprints.whiterose.ac.uk/cgi
  description: White Rose Research Online OAI-PMH base
tags:
- name: Oai2
paths:
  /oai2:
    get:
      summary: OAI-PMH request dispatch
      description: Single OAI-PMH endpoint dispatched by the required `verb` parameter. Each verb accepts additional parameters per OAI-PMH 2.0. Responses are XML conforming to the OAI-PMH 2.0 schema.
      operationId: oaiRequest
      parameters:
      - name: verb
        in: query
        required: true
        description: The OAI-PMH protocol request type.
        schema:
          type: string
          enum:
          - Identify
          - ListMetadataFormats
          - ListSets
          - ListIdentifiers
          - ListRecords
          - GetRecord
      - name: identifier
        in: query
        required: false
        description: The unique OAI identifier of an item. Required for GetRecord; optional for ListMetadataFormats. Example oai:etheses.whiterose.ac.uk:411
        schema:
          type: string
          example: oai:etheses.whiterose.ac.uk:411
      - name: metadataPrefix
        in: query
        required: false
        description: The metadata format in which records should be returned. Required for GetRecord, ListRecords and ListIdentifiers unless resuming with a resumptionToken. oai_dc (simple Dublin Core) is the OAI-PMH mandatory baseline format.
        schema:
          type: string
          example: oai_dc
      - name: from
        in: query
        required: false
        description: Lower bound datestamp for selective harvesting (YYYY-MM-DDThh:mm:ssZ).
        schema:
          type: string
          format: date-time
          example: '2024-01-01T00:00:00Z'
      - name: until
        in: query
        required: false
        description: Upper bound datestamp for selective harvesting (YYYY-MM-DDThh:mm:ssZ).
        schema:
          type: string
          format: date-time
          example: '2024-12-31T23:59:59Z'
      - name: set
        in: query
        required: false
        description: Restricts a list request to records belonging to the given set.
        schema:
          type: string
      - name: resumptionToken
        in: query
        required: false
        description: Flow control token from a previous incomplete list response. When supplied it is the only other argument allowed besides verb.
        schema:
          type: string
      responses:
        '200':
          description: A valid OAI-PMH 2.0 XML response, possibly containing an OAI-PMH error element (badArgument, idDoesNotExist, cannotDisseminateFormat, noRecordsMatch, badResumptionToken, badVerb, noMetadataFormats, noSetHierarchy).
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/OAIPMHResponse'
      tags:
      - Oai2
    servers:
    - url: https://etheses.whiterose.ac.uk/cgi
      description: White Rose eTheses Online OAI-PMH base
components:
  schemas:
    RecordHeader:
      type: object
      properties:
        identifier:
          type: string
          example: oai:etheses.whiterose.ac.uk:411
        datestamp:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - deleted
        setSpec:
          type: array
          items:
            type: string
    Identify:
      type: object
      properties:
        repositoryName:
          type: string
          example: White Rose eTheses Online
        baseURL:
          type: string
          format: uri
          example: https://etheses.whiterose.ac.uk/cgi/oai2
        protocolVersion:
          type: string
          example: '2.0'
        adminEmail:
          type: string
          format: email
          example: etheses@whiterose.ac.uk
        earliestDatestamp:
          type: string
          format: date-time
          example: '2010-02-12T15:42:31Z'
        deletedRecord:
          type: string
          enum:
          - false
          - persistent
          - transient
          example: persistent
        granularity:
          type: string
          example: YYYY-MM-DDThh:mm:ssZ
    OAIPMHResponse:
      type: object
      description: Root OAI-PMH 2.0 response envelope.
      properties:
        responseDate:
          type: string
          format: date-time
          example: '2026-06-04T03:12:55Z'
        request:
          type: string
          example: https://etheses.whiterose.ac.uk/cgi/oai2
        Identify:
          $ref: '#/components/schemas/Identify'
        GetRecord:
          type: object
          properties:
            record:
              $ref: '#/components/schemas/Record'
        ListRecords:
          type: object
          properties:
            record:
              type: array
              items:
                $ref: '#/components/schemas/Record'
            resumptionToken:
              type: string
        error:
          $ref: '#/components/schemas/OAIError'
    OAIError:
      type: object
      properties:
        code:
          type: string
          enum:
          - badArgument
          - badResumptionToken
          - badVerb
          - cannotDisseminateFormat
          - idDoesNotExist
          - noRecordsMatch
          - noMetadataFormats
          - noSetHierarchy
        message:
          type: string
    DublinCore:
      type: object
      description: Simple Dublin Core (oai_dc) element set; elements are repeatable.
      properties:
        title:
          type: array
          items:
            type: string
        creator:
          type: array
          items:
            type: string
        subject:
          type: array
          items:
            type: string
        description:
          type: array
          items:
            type: string
        relation:
          type: array
          items:
            type: string
        date:
          type: array
          items:
            type: string
        type:
          type: array
          items:
            type: string
        identifier:
          type: array
          items:
            type: string
    Record:
      type: object
      properties:
        header:
          $ref: '#/components/schemas/RecordHeader'
        metadata:
          type: object
          properties:
            dc:
              $ref: '#/components/schemas/DublinCore'
    RecordHeader_2:
      type: object
      properties:
        identifier:
          type: string
          example: oai:eprints.whiterose.ac.uk:5
        datestamp:
          type: string
          format: date-time
          example: '2016-10-28T17:09:02Z'
        status:
          type: string
          description: Present and equal to "deleted" for tombstone records.
          enum:
          - deleted
        setSpec:
          type: array
          items:
            type: string
    Identify_2:
      type: object
      description: Repository description returned by the Identify verb.
      properties:
        repositoryName:
          type: string
          example: White Rose Research Online
        baseURL:
          type: string
          format: uri
          example: https://eprints.whiterose.ac.uk/cgi/oai2
        protocolVersion:
          type: string
          example: '2.0'
        adminEmail:
          type: string
          format: email
          example: eprints@whiterose.ac.uk
        earliestDatestamp:
          type: string
          format: date-time
          example: '2007-08-05T17:37:28Z'
        deletedRecord:
          type: string
          enum:
          - false
          - persistent
          - transient
          example: persistent
        granularity:
          type: string
          example: YYYY-MM-DDThh:mm:ssZ
    OAIPMHResponse_2:
      type: object
      description: Root OAI-PMH 2.0 response envelope.
      properties:
        responseDate:
          type: string
          format: date-time
          example: '2026-06-04T03:13:43Z'
        request:
          type: string
          description: Echo of the request base URL and arguments.
          example: https://eprints.whiterose.ac.uk/cgi/oai2
        Identify:
          $ref: '#/components/schemas/Identify_2'
        GetRecord:
          type: object
          properties:
            record:
              $ref: '#/components/schemas/Record_2'
        ListRecords:
          type: object
          properties:
            record:
              type: array
              items:
                $ref: '#/components/schemas/Record_2'
            resumptionToken:
              type: string
        error:
          $ref: '#/components/schemas/OAIError_2'
    OAIError_2:
      type: object
      description: OAI-PMH protocol error.
      properties:
        code:
          type: string
          enum:
          - badArgument
          - badResumptionToken
          - badVerb
          - cannotDisseminateFormat
          - idDoesNotExist
          - noRecordsMatch
          - noMetadataFormats
          - noSetHierarchy
        message:
          type: string
    DublinCore_2:
      type: object
      description: Simple Dublin Core (oai_dc) element set. Each element is repeatable per the DC 1.1 namespace.
      properties:
        title:
          type: array
          items:
            type: string
          example:
          - 'Current practices in managing acutely disturbed patients at three hospitals in Rio de Janeiro-Brazil: a prevalence study'
        creator:
          type: array
          items:
            type: string
          example:
          - Adams, C.E.
          - Huf, G
        subject:
          type: array
          items:
            type: string
        description:
          type: array
          items:
            type: string
        relation:
          type: array
          items:
            type: string
          example:
          - https://eprints.whiterose.ac.uk/id/eprint/5/
        date:
          type: array
          items:
            type: string
        type:
          type: array
          items:
            type: string
        identifier:
          type: array
          items:
            type: string
    Record_2:
      type: object
      description: An OAI-PMH record consisting of a header and (unless deleted) metadata.
      properties:
        header:
          $ref: '#/components/schemas/RecordHeader_2'
        metadata:
          type: object
          description: Metadata payload in the requested metadataPrefix format. For oai_dc this is a Dublin Core element set.
          properties:
            dc:
              $ref: '#/components/schemas/DublinCore_2'
x-refined-from:
- university-of-york-white-rose-etheses-oai.yaml
- university-of-york-white-rose-research-oai.yaml
