openapi: 3.2.0
info:
  title: University of York Digital Collections IIIF IIIF Image API
  version: '3.0'
  summary: IIIF Image API 3.0 (level 2) and IIIF Presentation API 3.0 served by the University of York over its digitised collections.
  description: 'The University of York serves its digitised archive, library and cultural-heritage material through two IIIF specifications on its own registrable domain (york.ac.uk), keyless and CORS-open:


    * IIIF Image API 3.0, compliance level 2, at /iiif/3/{identifier} — the identifier is an

    ARK path under the University''s NAAN 36941.'
  contact:
    name: University of York Digital Collections
    url: https://discover.york.ac.uk/about/
  license:
    name: Not stated by the operator
servers:
- url: https://discover.york.ac.uk
  description: University of York Digital Collections (production)
security: []
tags:
- name: IIIF Image
  description: IIIF Image API 3.0, compliance level 2.
paths:
  /iiif/3/ark:/{naan}/{collectionId}/objects/{objectId}/info.json:
    get:
      summary: IIIF Image API 3.0 image information
      description: Returns the ImageService3 description for one image. Confirmed live with naan=36941, collectionId=common, objectId=uoy-logo and with collectionId=13192, objectId=13309.
      operationId: getImageInfo
      tags:
      - IIIF Image
      security: []
      parameters:
      - $ref: '#/components/parameters/Naan'
      - $ref: '#/components/parameters/CollectionId'
      - $ref: '#/components/parameters/ObjectId'
      responses:
        '200':
          description: IIIF Image API 3.0 image information document.
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ImageService3'
        '403':
          description: Unknown identifier. Returns an S3 AccessDenied XML body, not a IIIF error.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/S3Error'
  /iiif/3/ark:/{naan}/{collectionId}/objects/{objectId}/{region}/{size}/{rotation}/{quality}.{format}:
    get:
      summary: IIIF Image API 3.0 image request
      description: Standard IIIF Image API 3.0 image request. Confirmed live with region=full, size=max, rotation=0, quality=default, format=jpg.
      operationId: getImage
      tags:
      - IIIF Image
      security: []
      parameters:
      - $ref: '#/components/parameters/Naan'
      - $ref: '#/components/parameters/CollectionId'
      - $ref: '#/components/parameters/ObjectId'
      - name: region
        in: path
        required: true
        description: 'IIIF region: full | square | x,y,w,h | pct:x,y,w,h.'
        schema:
          type: string
        example: full
      - name: size
        in: path
        required: true
        description: 'IIIF size: max | w, | ,h | pct:n | w,h | ^ and ! variants (sizeUpscaling and sizeByDistortedWh are declared as extraFeatures).'
        schema:
          type: string
        example: max
      - name: rotation
        in: path
        required: true
        description: Degrees clockwise, optionally prefixed with ! for mirroring. rotationArbitrary and mirroring are declared as extraFeatures.
        schema:
          type: string
        example: '0'
      - name: quality
        in: path
        required: true
        schema:
          type: string
          enum:
          - default
          - color
          - gray
          - bitonal
        example: default
      - name: format
        in: path
        required: true
        schema:
          type: string
          enum:
          - jpg
          - png
          - gif
          - tif
          - webp
        example: jpg
      responses:
        '200':
          description: The requested image.
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
        '400':
          description: Malformed image request parameters. Returns text/plain.
          content:
            text/plain:
              schema:
                type: string
        '403':
          description: Unknown identifier.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/S3Error'
components:
  parameters:
    Naan:
      name: naan
      in: path
      required: true
      description: ARK Name Assigning Authority Number. The University of York's is 36941.
      schema:
        type: string
        default: '36941'
      example: '36941'
    ObjectId:
      name: objectId
      in: path
      required: true
      schema:
        type: string
      example: uoy-logo
    CollectionId:
      name: collectionId
      in: path
      required: true
      description: ARK collection segment. Observed values include numeric object-group ids and the literal "common" for site assets.
      schema:
        type: string
      example: common
  schemas:
    ImageService3:
      type: object
      description: IIIF Image API 3.0 image information document, as served.
      required:
      - '@context'
      - id
      - type
      - protocol
      - profile
      - width
      - height
      properties:
        '@context':
          type: string
          const: http://iiif.io/api/image/3/context.json
        id:
          type: string
          format: uri
        type:
          type: string
          const: ImageService3
        protocol:
          type: string
          const: http://iiif.io/api/image
        profile:
          type: string
          example: level2
        width:
          type: integer
          example: 500
        height:
          type: integer
          example: 164
        sizes:
          type: array
          items:
            type: object
            properties:
              width:
                type: integer
              height:
                type: integer
        tiles:
          type: array
          items:
            type: object
            properties:
              width:
                type: integer
                example: 256
              height:
                type: integer
                example: 256
              scaleFactors:
                type: array
                items:
                  type: integer
        extraFeatures:
          type: array
          items:
            type: string
          example:
          - canonicalLinkHeader
          - mirroring
          - profileLinkHeader
          - rotationArbitrary
          - sizeByDistortedWh
          - sizeByForcedWh
          - sizeByWhListed
          - sizeUpscaling
        extraFormats:
          type: array
          items:
            type: string
          example:
          - gif
          - tif
          - webp
        extraQualities:
          type: array
          items:
            type: string
          example:
          - color
          - gray
          - bitonal
    S3Error:
      type: object
      description: Object-store error surfaced verbatim for unknown identifiers.
      properties:
        Code:
          type: string
          example: AccessDenied
        Message:
          type: string
          example: Access Denied
x-operator: institution
x-provenance:
  method: probed
  generated: '2026-08-30'
  source:
  - https://discover.york.ac.uk/iiif/3/ark:/36941/common/objects/uoy-logo/info.json
  - https://discover.york.ac.uk/iiif/3/ark:/36941/13192/objects/13309/info.json
  - https://discover.york.ac.uk/iiif/3/ark:/36941/common/objects/uoy-logo/full/max/0/default.jpg
  - https://discover.york.ac.uk/ark:/36941/9952973300001381/presentation/3/manifest
  - https://discover.york.ac.uk/ark:/36941/796351/presentation/3/canvas/802563
